/*! Swipebox v1.3.0 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */
html.swipebox-html.swipebox-touch {
    overflow: hidden !important;
}

#swipebox-overlay img {
    border: none !important;
}

#swipebox-overlay {
    width: 100%;
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999 !important;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#swipebox-container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#swipebox-slider {
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    display: none;
    cursor: pointer;
}

#swipebox-slider .slide {
    height: 100%;
    width: 100%;
    line-height: 1px;
    text-align: center;
    display: inline-block;
}

#swipebox-slider .slide:before {
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right: -1px;
}

#swipebox-slider .slide img,
#swipebox-slider .slide .swipebox-video-container,
#swipebox-slider .slide .swipebox-inline-container {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    vertical-align: middle;
}

#swipebox-slider .slide .swipebox-video-container {
    background: none;
    max-width: 1140px;
    max-height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#swipebox-slider .slide .swipebox-video-container .swipebox-video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}

#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

#swipebox-slider .slide-loading {
    background: url("../img/swipebox_preloader.svg") no-repeat center !important;
    -webkit-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
    box-shadow: none !important;
}

#swipebox-title {
    display: block;
    width: 100%;
    text-align: center;
}

.swipebox-no-close-button #swipebox-close {
    display: none;
}

#swipebox-prev.disabled,
#swipebox-next.disabled {
    opacity: 0.5;
}

.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider {
    -webkit-animation: rightSpring 0.3s;
    animation: rightSpring 0.3s;
}

.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider {
    -webkit-animation: leftSpring 0.3s;
    animation: leftSpring 0.3s;
}

.swipebox-touch #swipebox-container:before, .swipebox-touch #swipebox-container:after {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    content: ' ';
    position: absolute;
    z-index: 999;
    top: 0;
    height: 100%;
    width: 20px;
    opacity: 0;
}

.swipebox-touch #swipebox-container:before {
    left: 0;
    -webkit-box-shadow: inset 10px 0px 10px -8px #656565;
    box-shadow: inset 10px 0px 10px -8px #656565;
}

.swipebox-touch #swipebox-container:after {
    right: 0;
    -webkit-box-shadow: inset -10px 0px 10px -8px #656565;
    box-shadow: inset -10px 0px 10px -8px #656565;
}

.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before {
    opacity: 1;
}

.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after {
    opacity: 1;
}

@-webkit-keyframes rightSpring {
    0% {
        left: 0;
    }

    50% {
        left: -30px;
    }

    100% {
        left: 0;
    }
}

@keyframes rightSpring {
    0% {
        left: 0;
    }

    50% {
        left: -30px;
    }

    100% {
        left: 0;
    }
}

@-webkit-keyframes leftSpring {
    0% {
        left: 0;
    }

    50% {
        left: 30px;
    }

    100% {
        left: 0;
    }
}

@keyframes leftSpring {
    0% {
        left: 0;
    }

    50% {
        left: 30px;
    }

    100% {
        left: 0;
    }
}

@media screen and (min-width: 800px) {
    #swipebox-close {
        right: 10px;
    }
}

/* Skin
--------------------------*/
#swipebox-overlay {
    background: rgba(0, 0, 0, 0.8);
}

/* saffron SwipeBox Classes */
.saffron_swipe_box #swipebox-bottom-bar,
.saffron_swipe_box #swipebox-top-bar {
    background: none !important;
    width: 100%;
    position: fixed;
    left: 0;
    display: block;
    text-align: center;
}

.saffron_swipe_box #swipebox-top-bar {
    height: 83px;
    top: 0;
    bottom: auto;
    display: table;
}

.saffron_swipe_box #swipebox-title {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    height: 100%;
    color: #ffffff;
    font-size: 17px;
    line-height: 19px;
    padding-bottom: 7px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.saffron_swipe_box #swipebox-bottom-bar {
    height: 117px;
    top: auto;
    bottom: 0;
    display: block !important;
}

#swipebox-container .slide.current img {
    position: relative !important;
    z-index: 999993 !important;
}

.saffron_swipe_box #swipebox-top-bar {
    position: fixed;
    left: 0;
    top: auto;
    bottom: 0;
    text-align: left;
}

.saffron_swipe_box #swipebox-top-bar #swipebox-title {
    text-align: left;
    padding-bottom: 27px;
    padding-left: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#swipebox-prev,
#swipebox-close,
#swipebox-next {
    width: 20px;
    height: 20px;
    background: url(../img/swipebox.png) no-repeat 0 0;
    background-size: 60px 20px;
    position: fixed;
    transition: opacity 400ms;
}

#swipebox-prev:hover,
#swipebox-close:hover,
#swipebox-next:hover {
    opacity: 0.7;
}

#swipebox-prev {
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-position: 0 0;
}

#swipebox-next {
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-position: -40px 0;
}

#swipebox-close {
    right: 30px;
    top: 30px;
    background-position: -20px 0;
}